<style lang="less" scoped>
    @import "../../assets/less/variables";

    #home {
        .sidebar, .content-right {
            vertical-align: top;
            display: inline-block;
        }

        .sidebar {
            width: 33%;

            .top {
                padding: 10px;
                background: @col-primary;
                color: @col-light;
                
                &:first-child {
                    text-indent: 10px;
                }
                span {
                    font-size: 1.5em;
                }
            }
            .pic {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .content {
                padding: 20px;
                width: 100%;
                background: white;
                .group {
                    .title {
                        color: @col-dark * 2;
                    }
                    .content {
                        color: @col-dark;
                        font-weight: bold;
                        font-size: 1.2em;
                        padding: 0;
                    }
                }
            }
        }

        .content-right {
            border-top: 1px solid #ccc;
            width: 67%;

            .content {
                @padding: 40px;

                background: #eee;
                min-height: 1000px;
                padding: @padding;

                .graph-block {
                    &:not(:first-child) {
                        margin-top: @padding;
                    }

                    .graph-block-title {
                        background: @col-primary;
                        color: @col-light;
                        padding: 15px;
                        font-size: 1.3em;

                        span {
                            padding: 0 10px;
                            i {
                                padding-left: 15px;
                            }
                        }
                        .right {
                            float: right;
                        }
                    }

                    background: white;
                }

                .graph {
                    .graph-title {
                        padding: 10px;
                        font-size: 1.2em;
                        color: @col-dark;
                    }
                    .graph-content {

                    }
                }
            }
        }
    }

    .navigation {
        background: white;
        padding: 0 15px;
        button {
            background: white;
            padding: 10px 10px;
            border-bottom: 5px solid white;
            font-size: 1.2em;

            &.selected {
                border-bottom: 5px solid @col-primary;
                color: @col-primary;
            }

            &:hover {
                border-bottom: 5px solid @col-primary;
                color: @col-primary;
            }
        }
    }

    button {
        padding: 5px;
        border: 0;
        background: transparent;
        font-size: 1.4em;
    }
</style>

<template>
    <div id="home">
        <div class="sidebar">
            <div class="top">
                <button><i class="fa fa-arrow-left"></i></button>
                <span>Terminal overview</span>
                <button class="pull-right">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="pic">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Lifeboat.17-31.underway.arp.jpg/1200px-Lifeboat.17-31.underway.arp.jpg" />
            </div>
            <div class="content">
                <div class="group">
                    <div class="title">
                        Terminal name
                    </div>
                    <div class="content">
                        WEST
                    </div>
                </div>
                <div class="group">
                    <div class="title">
                        Country code
                    </div>
                    <div class="content">
                        NLD
                    </div>
                </div>
                <div class="group">
                    <div class="title">
                        Address
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
        </div><div class="content-right">
            <div class="navigation">
                <button>DASHBOARD</button>
                <button class="selected">ASSET HEALTH</button>
                <button>WORK ORDERS</button>
            </div>

            <div class="content">
                <div class="graph-block">
                    <div class="graph-block-title">
                        <span>
                            Asset overview <i class="fa fa-arrow-right"></i>
                        </span>
                        <span>Master station 1-1</span>
                        <div class="right">
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <div class="navigation">
                        <button>Events</button>
                        <button>Position</button>
                        <button>Travel time</button>
                        <button class="selected">Torque profile</button>
                        <button>Work orders</button>
                        <button>Alarm analytics</button>
                    </div>
                    <div class="graph">
                        <div class="graph-title">
                            Open
                        </div>
                        <div class="graph-content">
                            <canvas id="open-chart"></canvas>
                        </div>
                    </div>
                    <div class="graph">
                        <div class="graph-title">
                            Closed
                        </div>
                        <div class="graph-content">
                            <canvas id="closed-chart"></canvas>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import $http from '@/modules/http'

export default {
    $el: 'home',

    data: function () {
        return {
            openChart: null,

            closedChart: null
        }
    },

    /**
     * TODO: if time; refactor code into methods option.
     */
    mounted: function () {
        var openChart2D = document.getElementById('open-chart').getContext('2d');
        var closedChart2D = document.getElementById('closed-chart').getContext('2d');
        
        $http.get('http://wb-predictivemaintenance-api.prsp7vkew2.eu-central-1.elasticbeanstalk.com/api/TorqueValues').then(response => {
            ///
            /// Initialization
            ///
            var json = JSON.parse(response.data)
            var closed = {
                labels: [],
                datasets: [{
                    label: "Last torque",
                    backgroundColor: 'rgb(80, 172, 255)',
                    borderColor: 'rgb(100, 100, 100)',
                    data: []
                },
                {
                    label: "Average torque",
                    backgroundColor: 'rgb(10, 80, 220)',
                    borderColor: 'rgb(100, 100, 100)',
                    data: []
                },
                {
                    label: "Forecast torque",
                    backgroundColor: "rgb(200, 150, 80)",
                    borderColor: "rgb(100, 100, 100)",
                    data: []
                }]
            };
            var open = {
                labels: [],
                datasets: [{
                    label: "Last torque",
                    backgroundColor: 'rgb(80, 172, 255)',
                    borderColor: 'rgb(100, 100, 100)',
                    data: []
                },
                {
                    label: "Average torque",
                    backgroundColor: 'rgb(10, 80, 220)',
                    borderColor: 'rgb(100, 100, 100)',
                    data: []
                },
                {
                    label: "Forecast torque",
                    backgroundColor: "rgb(200, 150, 80)",
                    borderColor: "rgb(100, 100, 100)",
                    data: []
                }]
            };

            ///
            /// Filter the objects found in the response of the GET request
            ///
            for (var index in json) {
                var object = json[index]
                if (object.Profile != 3) {
                    continue;
                }
                if (object.Direction == "Close") {
                    if (closed.labels.indexOf(object.Position) !== -1) {
                        continue;
                    }
                    closed.labels.push(object.Position)
                    closed.datasets[0].data.push(object.LastTorque)
                    closed.datasets[1].data.push(object.AverageTorque)
                }
                else {
                    if (open.labels.indexOf(object.Position) !== -1) {
                        continue;
                    }
                    open.labels.push(object.Position)
                    open.datasets[0].data.push(object.LastTorque)
                    open.datasets[1].data.push(object.AverageTorque)
                }
            }

            ///
            /// Fill the expected torque based on the next torque in the list of the average torque dataset.
            ///
            for (var index in closed.datasets[1].data) {
                if (Number(index) + 1 > closed.datasets[1].data.length - 1) {
                    closed.datasets[2].data.push(0)
                    continue;
                }
                closed.datasets[2].data.push(closed.datasets[1].data[Number(index) + 1])
            }

            for (var index in open.datasets[1].data) {
                if (Number(index) + 1 > open.datasets[1].data.length - 1) {
                    open.datasets[2].data.push(0)
                    continue;
                }
                open.datasets[2].data.push(open.datasets[1].data[Number(index) + 1])
            }

            ///
            /// Create the chart objects and store them in the vue object's data.
            ///
            this.openChart = new Chart(openChart2D, {
                type: 'bar',

                data: open,

                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                stepSize: 10
                            }
                        }]
                    }
                }
            });

            this.closedChart = new Chart(closedChart2D, {
                type: 'bar',

                data: closed,

                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                stepSize: 10
                            }
                        }]
                    }
                }
            });
        }).catch(response => {
            alert('Could not reach API!')
        })
    }
}
</script>
