<style lang="less">
    *, html {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
    }
</style>

<style lang="less" scoped>
    @import "assets/less/variables";

    .app {
        .top {
            background: @col-light;
            color: @col-dark;
            padding: 30px 10px;
            font-size: 1.5em;
            box-sizing: border-box;

            button {
                background: transparent;
                border: 0;
                padding: 5px;
            }

            .left, .right, .pipe {
                display: inline-block;
                vertical-align: middle;
                color: @col-dark * 2.5;
            }

            .pipe {
                display: inline-block;
                width: 50px;
                height: 35px;
                border-right: 2px solid @col-dark * 2.5;
            }

            .left {
                padding-left: 15px;
            }

            .right {
                float: right;
                color: @col-dark * 1.5;
            }
        }
    }
</style>

<template>
    <div class="app">
        <div class="top">
            <div class="pipe"></div>
            <div class="left">
                PREDICTIVE MAINTENANCE
            </div><div class="right">
                <span>
                    [First name] [Last name]
                </span>
                <button>
                    <i class="fa fa-caret-down"></i>
                </button>
                <button>
                    <i class="fa fa-power-off"></i>
                </button>
            </div>
        </div>

        <router-view/>
    </div>
</template>

<script>
export default {
    name: 'app'
}
</script>